<div class="htc-container">
	<div class="container-fluid p-100 buttom-margin-alignment">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="align-center">
							<h4>Live Location</h4>
						</div>
					</div>
				</div>
				<div id="map" class="map analytics-card for-plot"></div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="align-center">
							<h4>Live Streaming</h4>
						</div>
					</div>
				</div>
				<div class="analytics-card for-plot" id="img">

				</div>
			</div>
		</div>
		<div class="row margin-alignment">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="align-center">
					<h4>Live Analytics</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="div{{chart.ChartID}}" *ngFor="let chart of charts"
				[ngClass]="{'col-lg-3':maximize,'col-md-6':maximize,'col-sm-12':maximize,'col-xs-12':maximize}">
				<div class="analytics-card">
					<canvas id="{{chart.ChartID}}"></canvas>
					<i class="fa fa-arrows-alt max-icon" (click)="MaximizeGraph($event,chart.ChartID)"></i>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="fixed-plugin" (click)="switchdisplay($event)">
	<ul class="dropdown-menu dropdown-menu-mod" *ngIf="sidebar">
		<li class="header-title">Centralized Config.</li>
		<ul class="list-group">
			<li class="list-group-item">Time
				<label class="container-C float-r">Sec.
					<input type="radio" checked="checked" name="time">
					<span class="checkmark"></span>
				</label>
			</li>
			<li class="list-group-item">Angular Rate
				<label class="container-C float-r">deg/s
					<input type="radio" checked="checked" name="ar">
					<span class="checkmark"></span>
				</label>
				<label class="container-C float-r">rad/s
					<input type="radio" name="ar">
					<span class="checkmark"></span>
				</label>
			</li>
			<li class="list-group-item">Acceleration
				<label class="container-C float-r">m/s<sup>2</sup>
					<input type="radio" checked="checked" name="acc">
					<span class="checkmark"></span>
				</label>
				<label class="container-C float-r">g
					<input type="radio" name="acc">
					<span class="checkmark"></span>
				</label>
			</li>
			<li class="list-group-item">Pitch & Roll
				<label class="container-C float-r">rad
					<input type="radio" checked="checked" name="pr">
					<span class="checkmark"></span>
				</label>
				<label class="container-C float-r">deg
					<input type="radio" name="pr">
					<span class="checkmark"></span>
				</label>
			</li>
			<li class="list-group-item">Longitude & Latitude
				<label class="container-C float-r">rad
					<input type="radio" checked="checked" name="lola">
					<span class="checkmark"></span>
				</label>
				<label class="container-C float-r">deg
					<input type="radio" name="lola">
					<span class="checkmark"></span>
				</label>
			</li>
			<li class="list-group-item">Altitude
				<label class="container-C float-r">m.
					<input type="radio" checked="checked" name="al">
					<span class="checkmark"></span>
				</label>
				<label class="container-C float-r">Inch.
					<input type="radio" name="al">
					<span class="checkmark"></span>
				</label>
				<label class="container-C float-r">Ft.
					<input type="radio" name="al">
					<span class="checkmark"></span>
				</label>
			</li>
			<li class="list-group-item">Distance
				<label class="container-C float-r">m.
					<input type="radio" checked="checked" name="dis">
					<span class="checkmark"></span>
				</label>
				<label class="container-C float-r">Km.
					<input type="radio" name="dis">
					<span class="checkmark"></span>
				</label>
				<label class="container-C float-r">Mile.
					<input type="radio" name="dis">
					<span class="checkmark"></span>
				</label>
			</li>
			<li class="list-group-item">Velocity
				<label class="container-C float-r">m/s
					<input type="radio" checked="checked" name="velo">
					<span class="checkmark"></span>
				</label>
				<label class="container-C float-r">Km/s
					<input type="radio" name="velo">
					<span class="checkmark"></span>
				</label>
				<label class="container-C float-r">Mile/s
					<input type="radio" name="velo">
					<span class="checkmark"></span>
				</label>
			</li>
			<li class="list-group-item">Graph Points
				<label class="container-C float-r">5
					<input type="radio" checked="checked" name="gp">
					<span class="checkmark"></span>
				</label>
				<label class="container-C float-r">10
					<input type="radio" name="gp">
					<span class="checkmark"></span>
				</label>
			</li>
		</ul>
	</ul>

</div>

<div *ngIf="tempflag" class="col-lg-12 backdrop"></div>