<div class="htc-container">
    <div class="container-fluid p-100 buttom-margin-alignment">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="align-center">
                            <h4>Live Location</h4>
                        </div>
                    </div>
                </div>
                <div id="map" class="map analytics-card for-plot"></div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="align-center">
                            <h4>Live Streaming</h4>
                        </div>
                    </div>
                </div>
                <div class="analytics-card for-plot" id="img" [ngStyle]="{'background': 'url('+fullurl+') no-repeat center' }">
                </div>
            </div>
        </div>
        <div class="row margin-alignment">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="align-center">
                    <h4>Live Analytics</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="analytics-card" id="units">
                            <ul class="parameters-menu">
                                <li class="header-title-cp">HMPKV PARAMETERS</li>
                                <ul class="list-group-cp">
                                    <li class="list-group-item Sp">PARAMETERS
                                        <label class="container-Cp float-r Sp">UNITS</label>
                                        <label class="container-Cp float-r Sp">VALUES</label>
                                    </li>
                                    <li class="list-group-item" *ngFor="let p of parameters">{{p.Parameter}}
                                        <label class="container-Cp float-r">{{p.Unit}}</label>
                                        <label class="container-Cp float-r">{{p.Value}}</label>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div id="div{{chart.ChartID}}" *ngFor="let chart of charts" [ngClass]="{'col-lg-4':maximize,'col-md-12':maximize,'col-sm-12':maximize,'col-xs-12':maximize}">
                        <div class="analytics-card">
                            <canvas id="{{chart.ChartID}}"></canvas>
                            <i class="fa fa-2x fa-arrows-alt max-icon" (click)="MaximizeGraph($event,chart.ChartID)"></i>
                            <div id="overlay{{chart.ChartID}}" *ngIf="chart.overlay" class="overlayLoading">
                                <div class="loader">
                                    <img id="imgloader" src="assets/images/loading1.gif" alt="" srcset="">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="fixed-plugin" (click)="switchdisplay($event)">
    <ul class="dropdown-menu dropdown-menu-mod" *ngIf="sidebar">
        <li class="header-title">Centralized Config.</li>
        <ul class="list-group">

            <li class="list-group-item" *ngFor="let unit of units">{{unit.type}}
                <label class="container-C float-r" *ngFor="let u of unit.units">{{u.name}}
					<input type="radio" [checked]="u.status" (change)="configChange(unit,u)" name="{{unit.type}}">
					<span class="checkmark"></span>
				</label>
            </li>


        </ul>
    </ul>

</div>

<div *ngIf="tempflag" class="col-lg-12 backdrop"></div>